/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* Nav
============================================= */
#header, #header-wrap {
	height: 64px;
}
#logo img {
	padding-top: 6px;
	height: 56px;
}
#header.full-header #logo {
	margin-right: 0px;
}

/* Layout
============================================= */
.toppadding-sm {
	padding-top: 50px;
}
.toppadding-xs {
	padding-top: 30px;
}

/* Kontakt
============================================= */
.contact-text {
	font-size: 1.2rem;
}
.contact-person {
	line-height: 1.8 !important;
}
.contact-text img {
	margin-bottom: 30px;
	max-width: 400px;
}
.contact-sidebar img {
	margin-bottom: 30px;
	max-width: 220px;	
}
.contact-person, .text-column {
	font-size: 18px;
}
.contact-title {
	margin-top: 20px;
	font-size: 18px;
}
.contact-title {
    color: #f4f0ec;
}
.contact-title a{
    color: #f4f0ec;
}
#google-map {
    overflow: hidden;
}
.contact-info img {
	max-height: 265px;
}

/* Elements
============================================= */
.button-primary {
	color: #A67A44;
	border-color: #A67A44;
}
.button-full:hover {
	background-color: #444444 !important;
}

/* Footer
============================================= */
.footer-logo {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 200px;
}
#footer .fright, #footer .fright a {
	/*margin-top: 10px;*/
	color: rgba(255, 255, 255, 0.4);
}
#footer .fright a:hover {
	color: rgba(255, 255, 255, 0.55);
}
.copyrights-menu {
	margin-top: 10px;
}
.createdby {
	text-decoration: underline !important;
}

/* CTA
============================================= */
.button.button-full strong {
	border-bottom: none;
}

/* Product single
============================================= */
.product-icon-headline h3 {
	color: #A67A44;
}
.product-icon-headline:after {
	border-top-color: #A67A44;
}
.feature-box.fbox-plain p {
	color: rgb(51, 51, 51);
}

/* Homepage
============================================= */
.col-md-7, .col-md-5 {
	height: inherit !important;
}
.product_preview p {
	font-size: 16px;
}

/* Bug in single
============================================= */
#content {
	overflow: visible !important;
}

/* Blockquote
============================================= */
blockquote {
	border-right: 5px solid #EEE;
}

/* Repair font weight
============================================= */
.footer-stick p,
.heading-block span,
#page-title span {
	font-weight: 400 !important;
}

/* Portfolio archive
============================================= */
.portfolio-desc h3 {
	font-size: 15px;
}

/* About us Numbers
============================================= */
.numbers_wrap {
	margin-top: 0px;
	margin-bottom: 60px;
}

/* Body width
============================================= */
#wrapper {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
/* Custom filter 
============================================= */
.button-group.filter-button-group {
    margin-bottom: 50px;
}
.button-filter {
  padding: 12px 22px; 
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 22px;
  border: none;  
  background-color: transparent;
}
.button-filter:hover {
  color:#A67A44; 
  cursor: pointer; 
}

.button-filter.is-checked {
   background-color:#A67A44;
   color:#fff;
   font-weight:bold;
}

/* Realizacie slider
============================================= */
.fslider .slide > a > img {
	height: auto !important;
}

/* Realizacie content
============================================= */
.text_field p {
	font-size: 15px;
}